.Navbar{
    height: 10vh;
    z-index: 1;
}
.Navbar a , .Navbar h2{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    padding: .5vh 1.5vh;
}

.Navbar h2{
    font-family: "Edwardian Script ITC";
    font-size: 8vh;
    margin-top: 1vh;
}

.Navbar.dark a , .Navbar.dark h2{
    color: #000000;
}

.Navbar.dark a.active{
    border: 1px solid black;
}

.ShoppingCount{
    border: 1px solid #ffffff;
    border-radius: 50vh;
    padding: .5vh .9vh;
    margin-inline: .5vh;
    font-size: 1.5vh;
}