.BookBtn{
    width: 25% !important;
    border-radius: 50px;
    padding-inline: 1.3vh;
    padding-block: 1.5vh;
    background-color: white;
    color: black;
    z-index: 2;
    top: 58.5%;
    left: 13%;
    font-size: 35px;
}

.EventContainer{
    width: 95%;
    margin: auto !important;
}

.ImgContainer{
    width: 100%;
}

.TextContainer{
    width: 100%;
    margin-top: 5vh;
}

.TextContainer h2{
    text-transform: capitalize;
    font-family: unset !important;
    font-weight: normal;
    letter-spacing: .5;
    font-size: 3.5vh;
    font-weight: 600;
    color: #ff7c00;
}

.TextContainer p{
    line-height: 2vh;
    text-align: justify;
}

.slider-container{
    width: 80% !important;
    margin: auto !important;
}


.slick-slide:not(.slick-slide.slick-active.slick-cloned){
    opacity: 0.5;
    transform: scale(0.8);
    transition: all .5s;
}

.slick-slide.slick-active:not(.slick-slide.slick-active.slick-cloned,.slick-slide.slick-active.slick-center){
    opacity: 1;
    transform: scale(1);
    transition: all .5s;
}