.Footer{
    width: 100%;
    margin: auto;
    background-image: url('../../public/Images/Rectangle 6.png');
    background-position: center;
    background-size: cover;
}
.Footer p{
    display: flex;
    justify-content: space-around;
}
.Footer .MinText{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 4vh;
}
.Footer .StyledText{
    font-family: "Edwardian Script ITC";
    font-size: 30vh;
}
.Sub::placeholder{
    color: rgba(128, 128, 128, 0.651);
}
.Links{
    width: 90%;
}